<a href="https://colab.research.google.com/github/majumvalaski/Comparando-dados-de-vendas/blob/main/Comparando_dados_de_vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Passo a passo da soluçcão do Desafio**

In [ ]:
# Passo 0 - Entender o desafio que quero resolver

# Passo 1 - Usar o Python para percorrer todos os arquivos da pasta de vendas do drive (pasta basde de dados)
import os 
import pandas as pd

lista_arquivos = os.listdir("/content/drive/MyDrive/Curso Básico Python/01-15 - Curso de Python - Aula 1/Vendas")
display (lista_arquivos)

['Devolucoes - São Paulo.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - Fortaleza.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Salvador.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Curitiba.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Fortaleza.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Vendas - Recife.csv',
 'Vendas - Goiás.csv',
 'Vendas - Curitiba.csv']

In [ ]:
tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivos:
  # Se tem vendas no nome do arquivo, eu vou importar o arquivo 
  if "Vendas" in arquivo:
    # Quando eu coloco entre {} eu digo pro python printar o valor/ nome de cada arquivo
    # Importar o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Curso Básico Python/01-15 - Curso de Python - Aula 1/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto

# Passo 3 - Tratar/ compilar as bases de dados
display(tabela_total)

<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto
<ipython-input-38-de811242a9eb>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tabela_total = tabela_total.append(tabela) #add cada tabela na tabela vazia, fazendo uma tabela total com tudo junto

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,14,HL4379,Televisão,4,Ylana,Teraoka,6/23/2018,Porto Alegre,2500,NaN
1,34,HL1148,Câmera,1,Rubens,Netto,7/11/2018,Porto Alegre,2100,NaN
2,43,HL1148,Câmera,5,Paloma,Sperandei,9/15/2018,Porto Alegre,2100,NaN
3,49,HL8851,Notebook,5,Breno,Farias,6/24/2018,Porto Alegre,3500,NaN
4,52,HL4379,Televisão,2,Lorena,Kohn,7/31/2018,Porto Alegre,2500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [ ]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
# Quero agrupar os produtos e somar as quantidades vendidas

tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida", "Preco Unitario"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida  Preco Unitario
Produto
iPhone                    8974        15778100
Televisão                 5931         4905000
Notebook                  3249         3717000
Android                   3183         3631200
SmartWatch                2980         1393000
Tablet                    2921         1556800
Câmera                    2805         2020200

In [ ]:
# Passo 5 - Calcular o produto que mais faturou (em faturamento)
#criando uma coluna nova para saber o faturamento de cada produto
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario'] 

tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[['Faturamento']].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [ ]:
# Passo 6 - Calcular a loja/ cidade que mais vendeu (em faturamento) - criar um gráfico/ dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by="Faturamento", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

In [ ]:
#Criando um grafico com as informaçoes
import plotly.express as px
#poderia importar la na primeira celula tambem (mais recomendado ate)

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y= "Faturamento") #precisa chamar o x assim pois o groupby usado antes, faz com que a coluna vire o novo indice da tabela
grafico.show() #exibe o grafico